*.jl.cov
*.jl.*.cov
*.jl.mem
*.jl.*.mem
*.jld

Manifest.toml
docs/build/
**/**/tmp_params.txt
**/**/tmp_sols.txt
**/**/tmp_cert.txt
benchmarks_output.json
ttfx_output.json
.DS_Store
.claude/*
*.codex
test-run.log
test-cert.log
